<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @image.image_url %>
</p>

<p>
  <strong>Story:</strong>
  <%= @image.story %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
